html {
  font: normal 100%/1.3 "Montserrat", sans-serif;
}

  h1,
  p {
  margin: 0 0 1.3rem;
}


body {
  margin: 0;
}
.logo-img {
  max-width: 100px;
  align-items: left;

}

.s-content1 {
  display: flex;

}

.img-flex2 {
  min-width: 25em;
  display:
}

header {
  background-color: #ffffff;

}

/**.container {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}**/

.img-container {
  max-width: 50em;
}

div h1 {
  text-align: left;
  margin: .75rem 0;
  font-weight: 300;
}

.nav {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #9a9a9a;

}

ul li {
  display: inline-block;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #9a9a9a;
  font-weight: 300;
}

li a:hover {
  background-color: #7CDDA3;
  color: #fff;

}

.btn {
  background-color: #7CDDA3;
  border-color: #7CDDA3;
  color: #9a9a9a;
}

.btn-ghost {
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: transparent;
  color: #7CDDA3;
  border-color: #7CDDA3;
}

.pricing {
  border-color: #87ADDE;
  display: block;
  color: #87ADDE;
}

h2 {
  font-weight: 300;
}

.main-content {
  display: flex;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  .s-content1 {
    display: block;
  }

  .s-content2 {
    display: block;
  }

  .s-content3 {
    display: block;
  }


}


@media only screen and (min-width: 38em) {

  div .logo {
    text-align: left;
    margin-left: 1em;
  }

  header nav ul {
    text-align: right;
    padding-bottom: 0;
  }

  .logo-img {
    max-width: 150px;
    align-items: center;
  }

  .nav {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: none;
  }

  .nav-wrapper {
    border-bottom: 1px solid #9a9a9a;
  }

  .s-content1 {
    display: flex;

  }
  .s-content2 {
    display: flex;

  }
  .s-content3 {
    display: flex;

  }

  .pricing {
    border-color: #87ADDE;
    display: inline-block;
    color: #87ADDE;
  }



}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }



}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
